<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
      /* Remove the navbar's default rounded borders and increase the bottom margin */
      .navbar {
        margin-bottom: 50px;
        border-radius: 0;
      }

      /* Remove the jumbotron's default bottom margin */
      .jumbotron {
        margin-bottom: 0;
      }

      /* Add a gray background color and some padding to the footer */
      footer {
        background-color: #f2f2f2;
        padding: 25px;
      }

      .alert-success {
        background-color: #d4edda;
        color: #155724;
      }

      /* Style for error flash message */
      .alert-error {
        background-color: #f8d7da;
        color: #721c24;
      }

      /* Style for info flash message */
      .alert-info {
        background-color: #cce5ff;
        color: #004085;
      }

      /* Style for warning flash message */
      .alert-warning {
        background-color: #fff3cd;
        color: #856404;
      }

      .alert {
        margin-top: 20px;
        text-align: center;
      }
    </style>

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Online Grocery Store</h1>
        <p>Mission, Vission & Values</p>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          {% if user.is_authenticated %}
          <ul class="nav navbar-nav">
            <a class="navbar-brand" href="#"
              >{{ user.first_name }}'s Dashboard</a
            >
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            {% for role in user.roles %} {% if role.name == 'manager' %}
            <li class="nav-item">
              <a
                class="nav-link"
                href="{{ url_for('views.manager_dashboard') }}"
                >Manager Dashboard</a
              >
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            {% endif %} {% endfor %}
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log out</a>
            </li>
            
          </ul>
          <form
            class="navbar-form navbar-left"
            action="{{ url_for('views.search') }}"
            method="GET"
          >
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search"
                name="query"
              />
              <div class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            {% for role in user.roles %} {% if role.name == 'manager' %}
            <li class="nav-item">
              <a class="nav-link" href="/process_selection">
                <span class="glyphicon glyphicon-user"></span> Manager
              </a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/cart">
                <span class="glyphicon glyphicon-shopping-cart"></span> Cart
              </a>
            </li>
            {% endif %} {% endfor %}
            
          </ul>
          {% else %}
          <ul class="nav navbar-nav navbar-left">
            <!-- Placed on the left side -->
            <li class="nav-item">
              <a class="nav-link" href="/sign-up">Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
          <form
            class="navbar-form navbar-right"
            action="{{ url_for('views.search') }}"
            method="GET"
          >
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search"
                name="query"
              />
              <div class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
          </form>
          {% endif %}
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      {{ message }}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %} {% endif %} {% endwith %}

    <div class="container">{% block content %} {% endblock %}</div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-Gt6hTpF8GHC1Oz0nFmdw3g6e3fcsMwBEw1z8RUfLO4C0rXzr9Y6RKvY5kvS8q7"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    ></script>

    {% block javascript %}
    <script type="text/javascript">
      function deleteNote(noteId) {
        fetch("/delete-note", {
          method: "POST",
          body: JSON.stringify({ noteId: noteId }),
        }).then((_res) => {
          window.location.href = "/";
        });
      }
    </script>
    {% endblock %}
  </body>
</html>
