{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <div class="container">
        <h2>Your Cart</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Description</th>
                    
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    
                    <td>{{ item.amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>Total Amount: {{ total_amount }}</p>
    </div>
    
{% endblock %}
